body{
    color: rgb(128, 170, 154);

    background: url(./earth.jpg);
    background-repeat: no-repeat;
    background-size: cover;

    min-height: 100vh;

    font-family: 'Montserrat', sans-serif;
}

.h1{
    font-size: 75px;

    display: flex;
    justify-content: center;
    align-items: center;

    width: auto;
    height: 300px;

    margin: auto;

    font-style: oblique;
}