body{
    font-family: 'Rubik Dirt', Courier, monospace;
    
    background-image: url(./volcano.avif);
    background-size: cover;

    min-height: 100vh;
}

h1{
    display: flex;
    justify-content: center;
    font-size: 70px;
    text-shadow: 0 0 5px beige;
    color: rgb(18, 7, 7);
}

p{
    display: flex;
    justify-content: center;
    font-size: 50px;

}