body{
    background-color: rgb(192, 205, 255);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    /* border: 3px solid rgb(0, 6, 128); */
    font-size: 25px;
}

h1{
    color: rgb(50, 74, 13);
    font-size: 29px;
}

p{
    color: rgb(68, 71, 1);
}

button{
    border-radius: 20%;
}

button:hover{
    transition: 0.2s;
    color: rgb(185, 174, 159);
    background-color: rgb(8, 23, 82);
}

.bold{
    color: rgb(55, 9, 195);
    font-size: 30px;
    font-weight: bold;
}
